.contact {
    padding: 80px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.contact form {
    max-width: 600px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact input,
.contact textarea {

    padding: 15px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 16px;
}

.contact textarea {
    min-height: 150px;
    resize: vertical;
}

.contact button {

    padding: 15px;

    border: none;

    border-radius: 8px;

    background: #c8a96b;

    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

.contact button:hover {
    opacity: 0.8;
}
